{% extends 'navbar.html' %}

{% block content %}

<h2 align="center">Booking Details</h2>
<table class="table">
    <tr>
        <th>Movie Name</th>
        <th>Theater</th>
        <th>SeatNo</th>
        <th>Cost</th>
        <th>Status</th>
    </tr>
    {% for i in data %}
        <tr>
            <td>{{ i.movie_id }}</td>
            <td>{{ i.show_time.theater }}</td>

            <td>{{ i.seat_no }}</td>
            <td>{{ i.total_cost }}</td>
            <td><input type="text" name="txtStatus" value="{{ i.booking_status }}"></td>
            {% if request.session.usertype == 'Admin' %}
                <td><a href="{% url 'updatestatus' i.id %}">UpdateStatus</a></td>
            {% else %}
                {% if i.booking_status == True %}
                    <td><a href="{% url 'cancelbooking' i.id %}">CancelBooking</a></td>
                {% else %}
                    <td>Waiting for confirmation</td>
                 {% endif %}
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endblock %}